.Movies {
  color: white;
  display: flex;
  flex-direction: column;
}

.Movies h1 {
  text-align: center;
  margin: 30px 0;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-buttons {
  color: white;
  height: 30px;
  flex-basis: 16%;
  width: 100px;
  text-shadow: 0 5px 10px red;
  font-size: 30px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 600;
}

.category-buttons:hover {
  color: red;
  text-shadow: 0 2px 6px white;
  height: 30px;
  flex-basis: 16%;
  width: 100px; 
  font-size: 30px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.genre-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border: 1px solid white;
  width: 90%;
  align-self: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 14px red;
  border: 1px solid rgb(172, 0, 0);
}